#container{ width: 600px; margin: 0 auto; }

form{ width: 700px; margin: 0 auto; }

fieldset{ margin-bottom: 20px; }
#field1 input{ width: 200px; height: 30px; } /* 텍스트 필드 스타일 */
#field1 label{ width: 110px; float: left; } /* 크기가 없으면 적용 안됨 */ 
#field2{ padding: 20px 40px;}

h1{ text-align: center;}

ul li{ list-style: none; margin: 20px; } /* input 필드 정렬 */

select{ width: 120px; height: 30px; } /* 드롭다운 메뉴 스타일 */

#button{ width: 400px; margin: 20px auto; } /* 버튼 스타일 */
#button input{ width: 150px; height: 50px; font-size: 20px; margin: 5px; }
#button input:hover{ background-color: rgb(11, 131, 11); color: #fff; }
