body {
	background-color: #6a994e;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}

.game-container {
	background-color: #ffffff;
	border: 5px solid #6a994e;
	border-radius: 20px;
	padding: 20px;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

.score-container {
	background-color: #6a994e;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

h2 {
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	margin-top: 20px;
}

.grid-item {
	background-color: #6a994e;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}

.grid-item:hover {
	background-color: #75b85f;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#start-button {
	background-color: #75b85f;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	margin-top: 20px;
}

#start-button:hover {
	background-color: #8ecc70;
}

#restart-button {
	background-color: #75b85f;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	margin-top: 20px;
}

#restart-button:hover {
	background-color: #8ecc70;
}

.grid-item {
	background-color: #6a994e;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
  }
  
  .grid-item.orange {
	background-color: orange;
  }
  
