@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{margin:0; padding: 0; box-sizing: border-box;}
#container{width: 100%; margin:0 auto;}

/* header 스타일 */
header{width: 100%; height: 320px;}
#logo{float:left; width: 20%; height: 60px; line-height: 60px; 
    padding-left: 30px; background: #000;}
#logo h2{font-family: Merienda; color: white}
#logo a:link, a:visited{text-decoration:none; }
nav{float: right; width: 80%; height: 60px; line-height: 60px; 
    background: #000; padding-left: 30px;}
#main-nav{list-style: none; font-size: 0.9em; padding-left: 20px;}
#main-nav li{display: inline-block; margin: 0 20px; line-height: 60px;}
#main-nav li a:link, a:visited{text-decoration: none; color:white; }
#main-nav li a:hover{color: orange;}
#main-pic img{width:100%; height: 260px;}

/* 본문 스타일 */
section{height: 330px; padding: 10px 5%;}
section:nth-child(2n+1){background: rgb(245, 245, 245)}
section .page-title{padding: 10px}
.content .photo{display: none;}
.content .text h3{padding:20px 10px 20px 20px; color: blue;}
.content .text p{line-height: 2; padding: 10px 0 0 20px; font-size: 0.9em;}
.content .text ul{margin-left: 10px;}
.content .text .work{margin-left: 40px;}
.content .text li{margin: 10px; font-size: 0.9em;}
.content #career{padding-left: 20px;}
.content #career li{margin: 15px;}
.content #career li:first-child{ color: firebrick;}
.content #career li:nth-child(2){ color: firebrick;}
.content #link{padding-left: 20px;}
.content #link li{margin: 15px;}
.content #link li:last-child{ color: firebrick;}
.content #link li a{text-decoration: none; color:rgb(100, 100, 250);}
.content #link li a:hover{text-decoration: underline; color: rgb(100, 100, 250);}

/* footer 스타일 */
footer{height: 100px; border-top: 2px solid #aaa}
#bottomMenu{margin: 10px 30px;}
#bottomMenu ul{list-style: none;}
#bottomMenu ul li{display: inline; padding: 0 10px;
            border-right: 2px solid #ccc; font-size: 0.9em;}
#bottomMenu ul li:last-child{border:none}
#bottomMenu ul li a{text-decoration: none; color: firebrick}
#bottomMenu ul li a:hover{text-decoration: underline; color: firebrick}

/* 태블릿 기준 - 768px 이상 */
@media screen and (min-width: 780px) {
    header{width: 100%; height: 350px;}
    #main-nav{list-style: none; font-size: 0.9em; padding-left: 70px;}
    #main-nav li{display: inline-block; margin: 0 30px; line-height: 60px;}
    #main-pic img{width:100%; height: 290px;}
    section{height: 400px; padding: 10px 5%;}
    #who, #job{float:left; width: 50%; border:1px dotted #eee;}
    #skill{clear:both; height: 350px;}
}

/* pc 기준 - 996px 이상*/
@media screen and (min-width: 1000px) {
    #container{width: 1000px; margin:0 auto; border: 1px solid #eee}
    header{height: 380px;}
    #main-nav{list-style: none; font-size: 0.9em; padding-left: 100px;}
    #main-nav li{display: inline-block; margin: 0 40px; line-height: 60px;}
    #main-pic img{height: 320px;}
    section{height: 350px;}
    .content .text .work{margin-left: 260px;}
    #who, #job, #skill{width: 100%; padding: 10px 5%;}
    #who .photo{float: left; display: block; margin: 10px 20px; }
    #who .photo img{border-radius: 5px;}
    #skill .photo{float: right; display: block; margin-right: 0;}
    #skill .photo img{border-radius: 5px;}
}